body {
    margin: 0;
    font-family: Helvetica;
    background-color: black;
}

#logo {
    height: 80px;
    width: 80px;
}

#container {
    color: blue;
    display: flex;
    align-items: center;
    align-content: center;
    height: 100vh;
    flex-direction: column;
}